.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.list {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 1rem;
    list-style: none;
    width: 30vw;  
    height: 500px;  
}

.button {
    margin: 4px;
}

